{% extends "home/base.html" %}
{% load static %}


{% block title %}
    <title>Login User</title>
{% endblock title %}

{% block content %}
    <form action="" method="POST">

        {% csrf_token %}

        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Write username..." required>

        <br>
        <br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Write password..." required>

        <br>
        <br>

        <button type="submit">Login</button>

    </form>

{% endblock content %}