{% extends "home/base.html" %}
{% load static %}

{% block title %}
    <title>Users list</title>
{% endblock title %}

{% block content %}

    {% if GET_data.user_dicts.is_user == GET_data.defaults_dict.bool_states_dict.yes %}

        {% for user in GET_data.user_dicts.dicts %}

            <br>

            <hr>

            <img alt="profile_image" name="profile_image" src="{{user.profile_dict.profile_image_url}}" width="50" height="50">

            {% if user.user_type == GET_data.defaults_dict.user_types_dict.customer %}

                <h3><a href="{% url 'user_profile_page' parameter_user_id=user.id %}">{{user.profile_dict.name}} (Customer)</a></h3>

            {% else %}

                <h3><a href="{% url 'user_profile_page' parameter_user_id=user.id %}">{{user.profile_dict.name}} (Company)</a></h3>

            {% endif %}

            <hr>

        {% endfor %}

        <br>
        <br>

    {% else %}

        <h3>EMPTY RESULT</h3>

    {% endif %}


{% endblock content %}