{% extends "home/base.html" %}
{% load static %}

{% block title %}
    <title>Favorites Page</title>
{% endblock title %}

{% block content %}


    <h1>User Favorites</h1>

    <br>


    {% if GET_data.favorite_dicts.is_result == GET_data.defaults_dict.bool_states_dict.yes %}

        {% for favorite in GET_data.favorite_dicts.dicts %}

            <br>

            <hr>

            {% if favorite.object_type == GET_data.defaults_dict.object_types_dict.user %}

                <h3><a href="{% url 'user_profile_page' parameter_user_id=favorite.object_id %}">{{favorite.name}} (Company)</a></h3>

            {% else %}

                <h3><a href="{% url 'read_complaint_page' parameter_complaint_id=favorite.object_id %}">{{favorite.title}} (Complaint)</a></h3>

            {% endif %}


            <form action="{% url 'unfavorite_page' parameter_favorite_id=favorite.id parameter_path_name=GET_data.page_dict.path_name %}" method="POST">

                {% csrf_token %}

                <button type="submit">(remove)</button>


            </form>


            <hr>

        {% endfor %}

        <br>
        <br>

    {% else %}

        <h3>EMPTY RESULT</h3>

    {% endif %}


{% endblock content %}