{% extends "home/base.html" %}
{% load static %}

{% block title %}
    <title>Search Users</title>
{% endblock title %}

{% block content %}


    <h1>Search for users</h1>
    <br>


    <form action="" method="GET">

      <input name="parameter_search_string" type="text" placeholder="Search...">
      <button type="submit">Search</button>

    </form>


    {% if empty_result %}

        <h3>EMPTY RESULT</h3>

    {% else %}

        {% for user in list_users %}

          <br>
          <hr>
          <img alt="Profile Image" name="image" id="image" src="{{user.image_url}}">
          <h3><a href="{% url 'user_profile_page' parameter_user_id=user.id %}">{{user.username}}</a></h3>
          <hr>

        {% endfor %}

    {% endif %}


{% endblock content %}