{% extends "home/base.html" %}
{% load static %}


{% block title %}
    <title>Close Complaint</title>
{% endblock title %}

{% block content %}

    <h3>Title: {{GET_data.complaint_dict.title}}</h3>

    <br>
    <br>

    <hr>

    <form action="" method="POST">

        {% csrf_token %}

        <!--Score type (drop down list)-->

        <label for="score_type">Give score: </label>
        <select id="score_type" name="score_type">

            {% for score_type_dict in GET_data.defaults_dict.score_types_dicts %}

                <option value="{{score_type_dict.value}}">{{score_type_dict.readable}}</option>

            {% endfor %}

        </select>

        <!-- radio button (yes or no)-->

        <label for="yes">Solved</label><br>
        <input type="radio" id="yes" name="is_solved" value="{{GET_data.defaults_dict.bool_states.yes}}">
        
        <label for="no">NOT Solved</label><br>
        <input type="radio" id="no" name="is_solved" value="{{GET_data.defaults_dict.bool_states.no}}">
        

        <button type="submit">Update</button>

    </form>

{% endblock content %}