{% extends "home/base.html" %}
{% load static %}


{% block title %}
    <title>Create Complaint</title>
{% endblock title %}

{% block content %}


    <img alt="company_image" name="profile_image" src="{{GET_data.company_dict.profile_image_url}}" width="50" height="50">
    <a>Company: {{GET_data.company_dict.name}}</a>

    <br>
    <br>

    <hr>

    <form action="" method="POST">

        {% csrf_token %}

        <label for="title">title:</label>
        <input type="text" id="title" name="title" placeholder="Write title..." required>

        <br>
        <br>


        <label for="body">body:</label>
        <textarea id=body name="body" cols="50" rows="10" placeholder="Write the body..." required></textarea>

        <br>
        <br>

        <button type="submit">Create</button>

    </form>

{% endblock content %}