{% extends "home/base.html" %}
{% load static %}


{% block title %}
    <title>Create User</title>
{% endblock title %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="username">Username:</label>
    <input type="text" name="username" id="username" placeholder="Write username..." required>
    <br>
    <br>

    <label for="password">Password:</label>
    <input type="password" name="password1" id="password1" placeholder="Write password..." required>
    <br>
    <br>

    <label for="password">Password(again):</label>
    <input type="password" name="password2" id="password2" placeholder="Confirm password" required>
    <br>
    <br>

    <input type="file" name="image" id="image">
    <br>
    <br>

    

    <button type="submit">Create</button>
</form>

{% endblock content %}