{% extends "home/base.html" %}
{% load static %}

{% block title %}
    <title>Update Profile</title>
{% endblock title %}




{% block content %}

    <img alt="Profile Image" name="image" id="image" src="{{profile_image_src}}">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="file" name="image" id="image">
        <br>
        <br>


        <button type="submit">Update</button>
                        
    </form>

{% endblock content %}